services:
  api:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - MONGO_DB_NAME=racesnap
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
  env_file:
  - backend/.env.dev